* {
  box-sizing: border-box; 
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
 }

a {
  color: #1e6bb8;
  text-decoration: none;
  }
 a:hover {
    text-decoration: underline; 
  }

.page-header {
     color: #fff;
    text-align: center;
    background-color: #21C9F3; 
    box-shadow: 0px 5px 0px #00BCD4
}

@media screen and (min-width: 1024px) {
  .page-header {
    padding: 20px 30px;
     } 
  .project-name {
    font-size:50px ; 
  }  
  .main-content {
    max-width: 1000px;
    padding: 10px;
    margin: 0 auto;
    font-size: 20px; } 
  }

@media screen and (min-width: 1024px) and (max-width: 1300px) {
  .page-header {
    padding: 30px 40px; 
  } 
  .project-name {
    font-size: 55px; 
  }
  .main-content {
    padding: 15px ;
    font-size: 22px; }

  }

@media screen and (max-width: 1024px) {
  .page-header {
    padding: 10px 20px; 
  }
  .project-name {
    font-size: 40px; 
  }
  .main-content {
    padding: 20px;
    font-size: 24px; } 
     }

.project-name {
  margin-top: 0;
  margin-bottom: 10px;

   }
.project-name span{
  display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border: 2px solid #03A9F4;
    border-radius: 100px;
    text-align: center;
    line-height: 100px;
   box-shadow: 0px 0px 15px rgba(129, 145, 152, 1); 

}
.project-name span:hover{
  display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border: 2px solid #03A9F4;
    border-radius: 100px;
    text-align: center;
    line-height: 100px;
   box-shadow: 0px 0px 15px rgba(129, 145, 152, 1); 
   transform: rotate(360deg);
   transition: all .5s ease-in-out;
}

.main-content :first-child {
  margin-top: 0; 
}

.main-content p {
  margin-bottom: 20px; 
}

.baidu-item {
    display: inline-block;   
   padding:10px 80px;
   margin-left: 5px;
   margin-bottom: 15px;
    text-align: center;
    border: 3px solid rgba(78, 214, 208, 1);
    color: #21C9F3;
    border-radius: 50px;
    box-shadow: 0px 0px 15px rgba(129, 145, 152, 1);
    transition: all .5s ease-in-out;
}

.baidu-item:hover {
    text-decoration: none;
    background-color: rgba(78, 214, 208, 1);
    box-shadow: 0px 0px 10px rgba(129, 145, 152, 0);
    color: white;
}
.title {
    width: 500px;
    margin: 0 auto;
     text-align: center;
    font-size: 50px;
    border-left: 3px solid #21C9F3;
    border-right: 3px solid #21C9F3;
   
}