 *{
   margin:0;
   padding:0;
 } 
 body{
 	    background: #eabee9;     
        background-color: #fff;
	    background-image:url("../img/bg.jpg");
        background-size:cover;       
        background-repeat:no-repeat; 
        overflow: hidden;      
        background-position: center center;     
             
 }
#container{
	  height: 100%;         	           
       
}

header{
	width: 100%;	
	margin-left: 70%; 
	z-index: 9999;
    position: fixed;	
}
ul{  
  height:60px; 
  list-style-type: none;
}
ul>li{

	float:left;
	padding:10px;

}
ul>li>a{
	text-decoration: none;
	display: block;
	color:#fff;
	
}
header>ul>li>a:hover{
	color:yellow;
	border-bottom: 2px solid red;
}
#profile{
	display: inline-block;
	margin-top: 10%;
	margin-left: 40% ; 

}
#quote{
	 margin-top: 5%;
}
.quote{
	
	color:#fff;
	font-size: 35px;	
    padding:10px;
    text-shadow: 1px 1px 5px gray;
    text-align: center;
    word-spacing: 3px;
    line-height: 40px;
	font-family: 'Open Sans', sans-serif; 
}
footer{	
	height: 60px;
	margin-top: 8%;
	margin-left: 40%;
	z-index: 9999;
    position: fixed;
}
footer>ul>li{
	padding-right: 40px;
}
footer>ul>li>a>img:hover{
	background-color: #fff;
	border-radius: 100%;
	opacity: .8; 
}
 span{

   display: none; 
   position: absolute;
   top:10px;
   left:2px;
  
 }
@media screen and (min-width: 1200px) {
    
  }

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  

  }

@media screen and (max-width: 768px) {
	span{
		 display: inline-block;
	  }

	  header>ul{
       display: none;
      }

      header{
      	width: 100%;
	    margin-left: 15%; 
      }

    .quote{	
    font-size: 25px;
	margin-left: 5%;   
    word-spacing: 1px;
    padding:5px; 

     }
   footer{		
	margin-top: 8%;
	margin-left: 20%;
} 
   footer>ul>li{
	padding-right: 20px;
}

  }