* {
    margin:0;
    padding:0;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    background-color: #D3BFB4;
    background-image:url("http://7xyfje.com1.z1.glb.clouddn.com/xygirlbg.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    overflow: hidden;
    background-position: center center;
}
header {
    display: block;
    width: 100%;
    margin-left: 70%;
}
ul {
    height:60px;
    list-style-type: none;
}
ul>li {
    float:left;
    padding:10px;
}
ul>li>a {
    text-decoration: none;
    display: block;
    color:#fff;
}
header>ul>li>a:hover {
    color:yellow;
    border-bottom: 2px solid red;
}
#container {
    width: 100%;
    height: 100%;
    display: block;
}
#profile {
    display: inline-block;
    margin-top: 15%;
    margin-left: 40%;
}
#quote {
    margin-top: 5%;
}
.quote {
    color:#fff;
    font-size: 35px;
    padding:10px;
    text-shadow: 1px 1px 5px gray;
    text-align: center;
    word-spacing: 3px;
    line-height: 40px;
    font-family:'Open Sans', sans-serif;
}
#footer {
    width: 100%;
    margin-top: 2%;
    margin-left: 40%;
}
#footer>ul>li {
    padding-right: 40px;
}
#footer>img {
    width: 56px;
    height: 56px;
}
#footer>ul>li>a>img:hover {
    background-color: #fff;
    border-radius: 100%;
    opacity: .8;
}
@media screen and (min-width: 1200px) {
    header {
        width: 100%;
        margin-left: 60%;
        font-size: 24px;
    }
    ul>li {
        float:left;
        padding:15px;
    }
    #profile {
        display: inline-block;
        margin-top: 10%;
        margin-left: 40%;
    }
    .quote {
        font-size: 36px;
        margin-left: 5%;
        word-spacing: 5px;
        padding: 10px;
    }
    #footer {
        margin-top: 5%;
        margin-left: 35%;
    }
    #footer>ul>li {
        padding-right: 25px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
    header {
        width: 100%;
        margin-left: 50%;
        font-size: 24px;
    }
    ul>li {
        float:left;
        padding:15px;
    }
    #profile {
        display: inline-block;
        margin-top: 10%;
        margin-left: 40%;
    }
    #quote {
        margin-top: -2%;
    }
    .quote {
        font-size: 36px;
        margin-left: -2%;
        word-spacing: 5px;
        padding: 10px;
    }
    #footer {
        margin-top: 5%;
        margin-left: 35%;
    }
    #footer>ul>li {
        padding-right: 25px;
    }
}
@media screen and (max-width: 768px) {
    header {
        width: 100%;
        margin-left: 25%;
        font-size: 20px;
    }
    ul>li {
        float:left;
        padding:5px;
    }
    #profile {
        display: inline-block;
        margin-top: 10%;
        margin-left: 40%;
    }
    .quote {
        font-size: 25px;
        margin-left: 5%;
        word-spacing: 1px;
        padding:5px;
    }
    #footer {
        margin-top: 15%;
        margin-left: 30%;
    }
    #footer>ul>li {
        padding-right: 20px;
    }
}
@media screen and (max-width: 414px) {
    header {
        width: 100%;
        margin-left: 15%;
        font-size: 20px;
    }
    #profile {
        display: inline-block;
        margin-top: 10%;
        margin-left: 30%;
    }
    .quote {
        font-size: 22px;
        margin-left: -2%;
        word-spacing: 1px;
        padding:5px;
    }
    #footer {
        margin-top: 15%;
        margin-left: 20%;
    }
}
@media screen and (max-width:320px) {
    header {
        width: 100%;
        margin-left: 3%;
        font-size: 18px;
    }
    #profile {
        display: inline-block;
        margin-top: 10%;
        margin-left: 23%;
    }
    #footer {
        margin-top: -5%;
        margin-left: 15%;
    }
    #footer>img {
        width: 46px;
        height: 46px;
    }
}