body {
  background-color: #50e3c2;
}
#avatar {
  width: 256px;
  height: 256px;
  border: 15px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

#name {
  margin: 0.5em 0; 
}

.progect {
  font-size: 30px;
  color:white;
}
#taskItem {
  font-size: 26px;
  color:white;
}
#hanzi {
  float:left;
  width: 40%;
}
#gexian{
  float:left;
  width: 0;
  margin-left: 5%;
  height: 500px;
  border:5px solid #fff;
}
#tubiao{
  float:left;
  width: 50%;

  
}
#tiaoxing {
  margin-left: 10px;
  width: 60%;  
  display: inline-block;
  height: 10px;
  background-color: rgb(0, 195, 171);
  border:3px solid #fff;
  border-radius:10px;
  box-shadow: 1px solid #eee;
}
#tiaoxingdu {
  width: 60%;
  height: 100%;
  background-color: rgb(238, 242, 12);
  border-radius:10px;
}
#tubiao .tiaoxingzi {
  font-size: 40%;
  color:#fff;
}
.reveal .title {
  margin-bottom: 1.1em; }

.reveal .date {
  color: #ccc; 
}

.imgleft {
  height: 240px;
  float: left; }

.pfloat {
  overflow: hidden; }

.pfloat p {
  padding-left: 20px; }

.clearfix {
  overflow: hidden; }

.reveal .l1 {
  font-size: 2em; }

.reveal .l1 {
  font-size: 2em; }

.reveal .l2 {
  font-size: 1.5em; }

.reveal .l3 {
  font-size: 1.2em; }

.reveal .l4 {
  font-size: 1em; }

.reveal .l5 {
  font-size: 0.7em; }

.reveal .l6 {
  font-size: 0.5em; }

.reveal ul {
  font-size: 0.7em; }
